html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #ffe5d9;
  margin-bottom: 15px;

  padding: 10px;
  text-align: center;
}

.wrapper {
  display: flex;
  width: 100%;
  white-space: nowrap;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

nav {
  display: inline-block;
  vertical-align: top;
  background-color: #dbfbdb;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 10em;
}

main {
  display: flex;
  vertical-align: top;
  background-color: #e2eafc;
  padding: 20px;
  width: 80%;
  flex-grow: 3;
  flex-basis: 60em;
  flex-wrap: wrap;
}

section {
  display: inline-block;
  vertical-align: top;
  background-color: #c1d3fe;
  padding: 15px;
  margin: 15px;
  overflow: hidden;
}

article {
  display: inline-block;
  background-color: #e0ffff;
  padding: 10px;
  width: 100%;
}

aside {
  background-color: #fffacd;
  padding: 20px;
  flex-basis: 70em;
}

footer {
  background-color: #fbd6d2;
  padding: 10px;
}

.challenge-tasks li::marker {
  font-weight: bold;
}

.challenge-tasks li[data]::marker {
  content: "\26A0";
  background: white;
  opacity: 0.01;
  font-size: 0;
}
