html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.challenge-tasks li::marker {
  font-weight: bold;
}

.challenge-tasks li[data]::marker {
  content: '\26A0';
  background: white;
  opacity: 0.01;
  font-size: 0;
}
