html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #ffe5d9;
  margin-bottom: 15px;

  padding: 10px;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

nav {
  background-color: #dbfbdb;
  padding: 10px;
  flex: 1 0 160px;
}

main {
  background-color: #e2eafc;
  padding: 20px;
  flex: 4 0 300px;
}

aside {
  background-color: #fffacd;
  padding: 20px;
  flex: 1 0 160px;
}

section {
  display: inline-block;
  vertical-align: top;
  background-color: #c1d3fe;
  padding: 15px;
  margin: 15px;
}

article {
  display: inline-block;
  background-color: #e0ffff;
  padding: 10px;
  width: 100%;
}

footer {
  background-color: #fbd6d2;
  padding: 10px;
}

:focus-visible {
  outline: 3px solid #0060df;
  outline-offset: 2px;
}

img {
  max-width: 100%;
  height: auto;
}

.challenge-tasks li::marker {
  font-weight: bold;
}

.challenge-tasks li[data]::marker {
  content: "\26A0";
  background: white;
  opacity: 0.01;
  font-size: 0;
}
